.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 40px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.category-link {
  margin: 0 0px 0 10px;
  text-decoration: none;
}

.category-link:hover {
  text-decoration: underline;
}

.curr-category::before {
  content: '►';
}

.loading {
  display: inline-block;
}

.posts-list, .post-details {
  text-align: left;
  margin: 0 20% 0 20%;
}

.post-list-item {
  background-color: #DDD;
  padding: 5px 10px 5px 10px;
  margin: 12px 0 12px 0;
}

.post-list-item:hover {
  background-color: #EEE;
}

.post-title {
  display: inline;
  cursor: pointer;
}

.post-edit-form {
  width: 100%;
  table-layout: fixed;
}

.post-edit-form-label {
  width: 15%;
}

.button {
  color: #9900FF;
  text-decoration: none;
  margin: 0 5px 0 5px;
  display: inline;
  user-select: none;
}

.button:hover {
  cursor: pointer;
  color: #009900;
}

.float-right {
  float: right;
}

.comment-button {
  color: #FF5500;
}

.submit-button {
  background-color: #9900FF;
  color: #FFF;
  border-radius: 2px;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

.submit-button:hover {
  background-color: #BB00FF;
  color: #FFF;
}

.error {
  color: #FF0000;
}

input[type="text"] {
  height: 20px;
}

.long-text-input {
  width: 90%;
}

.comment-form {
  margin: 0px 0px 0px 20px;
}