.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 40px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.category-link {
  margin: 0 0px 0 10px;
  text-decoration: none;
}

.category-link:hover {
  text-decoration: underline;
}

.curr-category::before {
  content: '►';
}

.loading {
  display: inline-block;
}

.posts-list {
  text-align: left;
  margin: 0 25% 0 25%;
}

.post-list-item {
  background-color: #DDD;
  padding: 0 10px 0 10px;
  margin: 10px 0 10px 0;
}

.post-title {
  display: inline;
}

.button {
  margin: 0 2px 0 2px;
  display: inline;
}

.button:hover {
  cursor: pointer;
  color: #009900;
}

.upvote-button {
  color: #9900FF;
}

.downvote-button {
  color: #9900FF;
}
